asgiref==3.9.1
Django==5.2.5
sqlparse==0.5.3
Django==5.2.5
djangorestframework
djangorestframework-simplejwt
openai
gunicorn
django-cors-headers
python-dotenv
requests
python-dotenv
joblib
scikit-learn
psycopg2-binary>=2.9
pandas>=2.0.0
groq==0.31.1
Pillow>=10.0.0
itsdangerous>=2.1.2
python-decouple==3.8